
<div class="items-sidebar">
    <div >
        <accordion>
            <accordion-group #categories>
                <div accordion-heading class="sidebar-heading">
                    Kategorien
                    <i class="pull-right float-xs-right glyphicon"
                       [ngClass]="{'glyphicon-chevron-down': categories?.isOpen, 'glyphicon-chevron-right': !categories?.isOpen}"></i>
                </div>
                Kategorien
            </accordion-group>
        </accordion>
    </div>
    <div >
        <accordion>
            <accordion-group #filter>
                <div accordion-heading class="sidebar-heading">
                    Filter
                    <i class="pull-right float-xs-right glyphicon"
                       [ngClass]="{'glyphicon-chevron-down': filter?.isOpen, 'glyphicon-chevron-right': !filter?.isOpen}"></i>
                </div>
                Filter
            </accordion-group>
        </accordion>
    </div>
</div>
