<h2 class="text-center">Bestellung prüfen</h2>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
   <div class="order-conf-panel">
     <h4>Rechnungsadresse</h4>
   </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="order-conf-panel">
      <h4>Lieferadresse</h4>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="order-conf-panel">
      <h4>Zahlungsart</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <webshop-cart-items [shoppingCart]="shoppingCart"></webshop-cart-items>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div id="sc-overview">
      <h4>Zusammenfassung</h4>
      Summe: <span class="pull-right">{{total | currency:'EUR':true}}</span><br>
      Versandkosten: <span class="pull-right">{{0 | currency:'EUR':true}}</span><br>
      <b>Gesamtsumme: <span class="pull-right">{{total | currency:'EUR':true}}</span></b><br>
      <a (click)="placeOrder()" class="btn btn-primary">Kostenpflichtig bestellen  <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
