<li>
    <div *ngIf="category.parentCategory.length > 0">
        <span (click)="toggle()" class="node-icon">
        <i *ngIf="!expanded" class="fa fa-chevron-right" aria-hidden="true"></i>
        <i *ngIf="expanded" class="fa fa-chevron-down" aria-hidden="true"></i>
      </span>
        <span class="node-name">{{ category.name }}</span>
        <div *ngIf="expanded">
            <ul>
                <div *ngFor="let child of category.parentCategory">
                    <tree-category [category]="child"></tree-category>
                </div>
            </ul>
        </div>
    </div>

    <div *ngIf="category.parentCategory.length == 0">
        <span class="node-name">{{ category.name }}</span>
    </div>

</li>