<div class="row item-grid">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive center-block" src="../../../../../assets/lovewool_hellblau.jpg" />
    <div class="item-info">
      <div class="item-name"><b>Artikelnamesdgwehwrhwrtztrzwertwert</b></div>
      <div class="item-brand">Marke</div>
      <div class="item-price">Preis</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive center-block" src="../../../../../assets/lovewool_hellblau.jpg" />
    <div class="item-info">
      <div class="item-name"><b>Artikelnamesdgwehwrhwrtztrzwertwert</b></div>
      <div class="item-brand">Marke</div>
      <div class="item-price">Preis</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive center-block" src="../../../../../assets/lovewool_hellblau.jpg" />
    <div class="item-info">
      <div class="item-name"><b>Artikelnamesdgwehwrhwrtztrzwertwert</b></div>
      <div class="item-brand">Marke</div>
      <div class="item-price">Preis</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive center-block" src="../../../../../assets/lovewool_hellblau.jpg" />
    <div class="item-info">
      <div class="item-name"><b>Artikelnamesdgwehwrhwrtztrzwertwert</b></div>
      <div class="item-brand">Marke</div>
      <div class="item-price">Preis</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive center-block" src="../../../../../assets/lovewool_hellblau.jpg" />
    <div class="item-info">
      <div class="item-name"><b>Artikelnamesdgwehwrhwrtztrzwertwert</b></div>
      <div class="item-brand">Marke</div>
      <div class="item-price">Preis</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive center-block" src="../../../../../assets/lovewool_hellblau.jpg" />
    <div class="item-info">
      <div class="item-name"><b>Artikelnamesdgwehwrhwrtztrzwertwert</b></div>
      <div class="item-brand">Marke</div>
      <div class="item-price">Preis</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive center-block" src="../../../../../assets/lovewool_hellblau.jpg" />
    <div class="item-info">
      <div class="item-name"><b>Artikelnamesdgwehwrhwrtztrzwertwert</b></div>
      <div class="item-brand">Marke</div>
      <div class="item-price">Preis</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive center-block" src="../../../../../assets/lovewool_hellblau.jpg" />
    <div class="item-info">
      <div class="item-name"><b>Artikelnamesdgwehwrhwrtztrzwertwert</b></div>
      <div class="item-brand">Marke</div>
      <div class="item-price">Preis</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive center-block" src="../../../../../assets/lovewool_hellblau.jpg" />
    <div class="item-info">
      <div class="item-name"><b>Artikelnamesdgwehwrhwrtztrzwertwert</b></div>
      <div class="item-brand">Marke</div>
      <div class="item-price">Preis</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-5 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
    <pagination class="pagination" [directionLinks]="false" [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
                [(ngModel)]="currentPage" [maxSize]="6" lastText="Letzte" firstText="Erste" (click)="getPage()"></pagination>
  </div>
</div>

