<div class="col-md-4 col-md-offset-4">
  <h2>Login</h2>
  <alert *ngIf="loginFailed"  type="danger" dismissible="true">Login fehlgeschlagen</alert>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">E-Mail</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #username="ngModel" required />
    </div>
    <div class="form-group">
      <label for="password">Passwort</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Anmelden</button>
    </div>
  </form>
  <p>Sie haben bereits ein Konto? <a href="#/shop/register"><button class="btn btn-secondary">Registrieren</button></a></p>
</div>