<div class="items-sidebar">
    <div >
        <accordion>
            <accordion-group #categoriesAcc id="categories-acc" [isOpen]="categoriesIsOpen">
                <div accordion-heading class="sidebar-heading">
                    Kategorien
                    <i class="pull-right float-xs-right glyphicon"
                       [ngClass]="{'glyphicon-chevron-down': categoriesAcc?.isOpen, 'glyphicon-chevron-right': !categoriesAcc?.isOpen}"></i>
                </div>
                <tree-view class="toggle-list"[categories]="categories"></tree-view>
            </accordion-group>
        </accordion>
    </div>
    <div >
        <accordion>
            <accordion-group #filterAcc>
                <div accordion-heading class="sidebar-heading">
                    Filter
                    <i class="pull-right float-xs-right glyphicon"
                       [ngClass]="{'glyphicon-chevron-down': filterAcc?.isOpen, 'glyphicon-chevron-right': !filterAcc?.isOpen}"></i>
                </div>
                <div class="toggle-list">
                    <ul>
                        <li *ngFor="let filter of filters">

                            <div *ngIf="filter.options.length > 0">
                                <button (click)="filter.toggle()" class="node-icon">
                                    <i *ngIf="!filter.expanded" class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <i *ngIf="filter.expanded" class="fa fa-chevron-down" aria-hidden="true"></i>
                                </button>
                                <span class="node-name">{{filter.name}}</span>
                                
                                <div *ngIf="filter.expanded">
                                    <ul>
                                        <li *ngFor="let option of filter.options">
                                            <input type="checkbox" name="checked" [(ngModel)]="option.checked" (change)="addFilter(option)"/> {{option.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-primary" (click)="setFilters()">Filter übernehmen</button>
                <button class="btn btn-secondary" (click)="resetFilters()">Filter löschen</button>
            </accordion-group>
        </accordion>
    </div>
</div>
