<h2 class="text-center">Artikel verwalten</h2>
<alert *ngIf="deleteSuccess"  type="success" dismissible="true" (click)="deleteSuccess = false">Artikel/Set erfolgreich gelöscht</alert>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
        <h4>Artikelnr.</h4>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h4>Name</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" name="articleNrFilter" placeholder="Artikelnr." class="input-field" id="article-number-filter" [ngModel]="artNrFilter" (ngModelChange)="applyFilter($event)"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div *ngFor="let item of pagedItems" class="admin-item">
            <div *ngIf="!item.deleted" class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 admin-item-col">
                    {{item.articleNumber}}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 admin-item-col">
                    {{item.name}}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                    <a (click)="editItem(item)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                    <a (click)="deleteItem(item)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <pagination [itemsPerPage]="pageSize" [boundaryLinks]="true" [totalItems]="filteredItems.length" [maxSize]="6" [(ngModel)]="pager.currentPage" class=" pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="onPageChange($event)"></pagination>
    </div>
</div>
