<div *ngIf="shoppingCart.items.length == 0" class="text-center">Warenkorb leer, fügen Sie etwas hinzu!</div>
<div class="sc-item" *ngFor="let scItem of shoppingCart.items">
    <div class="row clearfix">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <img class="img-responsive" src="api/v1/items/images/{{scItem.item.i_id}}"/>
            <span class="item-name">{{scItem.item.name}}</span>
            <br>
            <span>Artikel-Nr.: {{scItem.item.articleNumber}}</span>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <span class="sc-item-delete pull-right">
                <button><i class="fa fa-times" aria-hidden="true" title="Artikel aus Warenkorb entfernen" (click)="removeItem(scItem)"></i></button>
            </span>
            <span class="sc-item-price pull-right">
               {{scItem.item.price | currency:'EUR':true}}
            </span>
            <div class="sc-item-quantity pull-right">
               <button><i class="fa fa-minus" aria-hidden="true" title="Menge verringern" (click)="removeOne(scItem.item.i_id)"></i></button>
                    {{scItem.quantity}}
                <button><i class="fa fa-plus" aria-hidden="true" title="Menge erhöhen" (click)="addOne(scItem.item.i_id)"></i></button>
            </div>

        </div>
    </div>
</div>

