<div class="row">
  <div class="">

  </div>
</div>

<div class="row item-grid">
  <div *ngFor="let item of pagedItems">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <img class="img-responsive center-block" [src]="item.pictureLink"/>
      <div class="item-info">
        <div class="item-name"><a href="/#/shop/details/{{item.id}}"><b>{{item.name}}</b></a></div>
        <div class="item-brand">{{item.brand}}</div>
        <div class="item-price">
          <button type="button" (click)="addToCart(item.id)" class="btn btn-secondary">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i> <b>{{item.price}} €</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-5 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
    <pagination [itemsPerPage]="pageSize" [boundaryLinks]="true" [totalItems]="items.length" [maxSize]="6" [(ngModel)]="pager.currentPage" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="onPageChange($event)"></pagination>
  </div>
</div>

