<h2 class="text-center">Login</h2>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <alert *ngIf="loginFailed"  type="danger" dismissible="true" (click)="loginFailed = false">Login fehlgeschlagen</alert>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email" #username="ngModel" required />
      </div>
      <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary"><i *ngIf="loading" class="fa fa-spinner fa-spin"></i> Anmelden</button>
      </div>
    </form>
  </div>
</div>
