/********************************************************
 * All *
********************************************************/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    padding-bottom: 70px;
}

/********************************************************
 * UI Elements *
********************************************************/

/* - Buttons - */
.btn {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.btn-primary {
    background-color: #7c0d34;
    border-width: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #b21c4c !important;
    outline: none !important;
}

.btn-secondary {
    background-color: #ffffff;
    border-color: #7c0d34;
}

.btn-secondary:focus, .btn-secondary:hover, .btn-secondary:active {
    color: #b21c4c;
    background-color: #ffffff;
    border-color: #b21c4c !important;
    outline: none !important;
    box-shadow: none !important;
}

/* - Forms - */
.form-control{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    box-shadow: none !important;
}

.form-control:focus, .form-control:active {
    border-color: #7c0d34;
    outline: none;
}

.ui-select-choices.dropdown-menu {
     display: block;
 }

.ui-select-toggle {
    border-color: rgb(204, 204, 204);
}

.ui-select-choices-row.active>a {
    background-color: #b21c4c !important;
}

/* - Links - */
a {
    color: #7c0d34;
}

a:hover,
a:focus,
a:active{
    text-decoration: none;
    color: #b21c4c;
    outline: none;
}

/* - Panels - */

.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
    box-shadow: none
}

.panel {
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 25px !important;
    margin-top: 15px;

}

.panel-heading {
    background-color: transparent !important;
}

/* - Alerts - */

.alert.alert-danger.alert-dismissible {
    border-radius: 25px;
    border: 0;
    background-color: rgba(178, 28, 76, 0.3);
    color: #7c0d34;
}

.alert.alert-success.alert-dismissible {
    border-radius: 25px;
    border: 0;
}

/* - Date input- */

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

/********************************************************
 * Logo header *
********************************************************/
#pattern-container {
    background: url("./assets/pattern.png") repeat;
}
/* - Top header - */

#top-header {
    padding: 10px 20px;
    text-align: right;
    background-color: rgba(41, 84, 0, 0.35);
    border-bottom-color: rgba(124, 13, 5, 0.45);
    border-bottom-width: 2px;

}

#top-header>div {
    padding: 0;
}

.top-header-link {
    margin-left: 10px;
    color: #ffffff;
}

/* - Navigation bar - */

.navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.45);
    font-size: large;

}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: rgba(41, 84, 0, 0.35);
    border-width: 0;

}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

#webshop-nav {
    margin-left: -15px;
    margin-right: -15px;
}

#content-container.container-fluid {
    padding-top: 15px;
    min-height: 100%;
    overflow:auto;
    padding-bottom:22px;
}

/********************************************************
 * Footer *
********************************************************/
.footer-link {
    padding: 0 5px;
}

footer {
    background-color: rgba(41, 84, 0, 0.5);
    margin-top: 20px;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}



/********************************************************
 * Home page *
********************************************************/
.carousel-caption {
    background-color:  rgba(0, 0, 0, 0.3)
}

/********************************************************
 * Products page *
********************************************************/

/* - Item grid - */

.item-grid {
    padding-top: 15px;
}

.item-grid-img-wrapper{
    width: 100%;
    padding-bottom: 70%; /* your aspect ratio here! */
    position: relative;
}

.item-grid-img-wrapper img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 200px;
}

.item-info {
    text-align: center;
    padding: 15px;
}

.item-name {
    font-weight: 700;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden
}

.item-brand {
    height: 22px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(145, 145, 145);
}



/* - Pagination - */

.pagination>li>a, .pagination>li>span {
    border: 0;
    border-radius: 25px;
    color: #7c0d34;
    font-size: medium;
}

.pagination>.active>a {
    background-color: #7c0d34;
}

.pagination>.active>a:hover {
    background-color: #b21c4c;
}

.pagination>li>a:focus, .pagination>li>a:hover {
    color: #b21c4c;
}

/* - Left panels - */

.toggle-list .node-icon {
    border:none;
    cursor: pointer;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding:0;
}

.toggle-list .node-icon:focus {
    outline:0;
}

.toggle-list .node-icon>i {
    width: 16px;
}

.toggle-list ul {
    padding-left: 30px;
    list-style-type: none;
}

.toggle-list>ul {
    padding-left:0;
}

.toggle-list .no-icon {
    padding-left: 20px;
}

.node-name {
    cursor: pointer;
}

/********************************************************
 * Shopping cart page *
********************************************************/

.sc-item {
    padding:15px;
    position: relative;
    border-bottom: 1px solid #ccc;

}
.sc-item .img-responsive {
    max-width: 80px !important;
    margin-right: 15px;
    float:left
}

.sc-item-quantity {
    margin-right: 10px;
}

.sc-item-quantity button {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sc-item-quantity button:focus {
    outline:0;
}

.sc-item-quantity i {
    padding-top: 6px;
    font-size: 14px;
    cursor: pointer;
}

.sc-item-quantity i:hover {
    color: #7c0d34;
}

.sc-item-quantity i:focus,
.sc-item-quantity i:active {
    color: #b21c4c;
}

.sc-item-quantity input {
    border: 1px solid #ccc;
    padding: 6px 12px;
    font-size: 14px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    box-shadow: none !important;
    width: 50px;
}

.sc-item-quantity input:hover,
.sc-item-quantity input:active {
    border-color: #7c0d34;
    outline: none;
}

.sc-item-price {
    margin-right: 10px;
    padding: 6px 12px;
}

.sc-item-delete {
    padding-top: 6px;
}

.sc-item-delete i {
    cursor: pointer;
}

.sc-item-delete i:hover {
    color: #7c0d34;
}

.sc-item-delete i:focus,
.sc-item-delete i:active {
    color: #b21c4c;
}

.sc-item-delete button {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sc-item-delete button:focus {
    outline:0;
}


#sc-overview {
    margin: 15px 0;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid #cccccc;
}

#sc-overview>h4 {
    margin-top: 0;
    font-weight:700;
}

#sc-overview>a {
    margin-top: 25px;
    width: 100%;
}

/********************************************************
 * Order confirmation page *
********************************************************/

.order-conf-panel {
    margin: 15px 0;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid #cccccc;
}

.order-conf-panel>h4 {
    margin-top: 0;
    font-weight:700;
}

/********************************************************
 * Item details page *
********************************************************/

.details-pic {
    margin-bottom: 15px;
}

.item-name>h2 {
    margin-top: 10px;
    word-wrap: break-word;
}

.item-in-stock {
    color:#539613;
}

.item-stock-low {
    color: #d1a60e;
}

.item-not-in-stock {
    color: #b21111;
}

.item-description {
    margin-top: 15px;
}

/********************************************************
 * Account page *
********************************************************/

#change-email-btn {
    margin-top: 12px;
}

#change-pw {
    margin-top: 12px;
}

.order-history h4 {
    margin-top: 0;
    font-weight:700;
}

.order {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.order-col {
    padding-top: 6px;
}

/********************************************************
 * Imprint page *
********************************************************/

.imprint-container {

}