<carousel>
  <slide>
    <img class="carousel-image" src="assets/banner1.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>Produkte höchster Qualität</h3>
      <p>Bei uns finden Sie eine Kollektion der Besten Materialien für Ihr Hobby</p>
    </div>
  </slide>
  <slide>
    <img class="carousel-image" src="assets/banner2.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Große Auswahl an Produkten</h3>
      <p>Egal ob einfarbig oder kunterbunt, bei uns finden Sie alles was Sie für Ihre Projekte suchen</p>
    </div>
  </slide>
  <slide>
    <img class="carousel-image" src="assets/banner3.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Für Anfänger und Fortgeschrittene</h3>
      <p>Sind Sie Anfänger und Sie wissen nicht wo Sie anfangen möchten? Wir haben die perfekten Produksets für Ihren Start.</p>
    </div>
  </slide>
  <slide>
    <img class="carousel-image" src="assets/banner4.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>